#background-footer {
  background-color: white;
  padding: 20px 0;
  margin-left: -130px;
}

#background-header-title {
  background-color: #fce7e5;
  padding: 14px 50px 14px 200px;
  margin-top: 315px;
  margin-left: -12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
