.button {
  color: #96ea39;
  font-size: 20px;
  font-weight: 700;
  background-color: #e7364d;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
}

.button:hover {
  color: #2d940e;
  background-color: #96ea39;
}

.button a {
  text-decoration: none;
}

header .button {
  padding: 30px;
  padding-top: 80px;
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
  transition: all 0.5s ease;
}

header .button:hover {
  padding-top: 90px;
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}

.link-arrow path {
  stroke: #96ea39;
  transition: stroke 0.5s ease;
}

header .button:hover path {
  stroke: #2d940e;
}

#button-footer {
  padding: 40px 20px 240px;
}

#button-footer:hover {
  padding-bottom: 250px;
}

main .button {
  border-radius: 5px;
  transition: all 0.5s ease;
  padding: 10px;
}

main .button:hover {
  border-radius: 0;
}
