// Expressions Baron lorsque le baron raconte son histoire
.face-story {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

// Expressions Baron et Claude lorsque l'histoire fait référence au présent
.face-present {
  width: 200px;
}

#face-claude {
  margin: 500px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Différentes marges du haut lorsque le Baron raconte l'histoire -> par 
rapport au haut de l'image en lien */
#face-baron-first {
  margin-top: 392px;
}

#face-baron-third {
  margin-top: 270px;
}

#face-baron-fourth {
  margin-top: 376px;
}
