.face-story {
  width: 100px;
  margin-right: 20px;
}

.face-present {
  width: 200px;
}

.face-bubble {
  width: 30%;
}

#face-claude {
  margin: 400px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
