.face-story {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.face-present {
  width: 200px;
}

#face-claude {
  margin: 500px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
