// Titre du site -> pour aligner les éléments du rectangle d'introduction du site (titre et petite phrase)
.flex-header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Histoire Baron -> pour aligner l'expression facial du Baron avec le texte qu'il raconte
.flex-story-baron,
.flex-link {
  display: flex;
}

// Copyrights -> pour que cela se mette en bas du rectangle
#flex-copyright {
  height: 100%;
  padding-bottom: 20px;
  display: flex;
  align-items: end;
}
