.margin-paragraph {
  margin-bottom: 10px;
}

.margin-section {
  margin-bottom: 50px;
}

.margin-part {
  margin-bottom: 40px;
}

.margin-part-order {
  margin-bottom: 240px;
}

.margin-title {
  margin-bottom: 40px;
}

#margin-special-facade {
  margin-top: -70px;
  margin-bottom: 100px;
}

#margin-story-small {
  margin-bottom: 100px;
}

#margin-story-big {
  margin-bottom: 160px;
}

#margin-baron-first {
  margin-top: 392px;
}

#margin-baron-third {
  margin-top: 270px;
}

#margin-baron-fourth {
  margin-top: 376px;
}
