.parallax-animation {
  width: 100%;
  height: 100%;
}

/*Parallax de début groseilles*/
#parallax-berry {
  position: absolute;
  top: 0;
  left: 0;
}

#parallax-berry img {
  width: 510px;
}

/*Parallax de début pierre*/
#parallax-stone {
  position: absolute;
  z-index: 2;
  left: 700px;
  bottom: 0px;
}

#parallax-stone img {
  height: 295px;
}

/*Parallax de début colline*/
#parallax-hill {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 800px;
}

#parallax-hill img {
  height: 385px;
}

/*Parallax de début arbre*/
#parallax-tree {
  position: absolute;
  top: -100px;
  left: 3000px;
}

#parallax-tree img {
  width: 1580px;
}

/*Parallax de début personnages*/
#parallax-characters {
  position: absolute;
  bottom: 0;
  left: 6000px;
}

#parallax-characters img {
  height: 600px;
}

/*Parallax de début nuages*/
#parallax-clouds {
  position: absolute;
  top: 0;
  left: 1315px;
}

#parallax-clouds img {
  height: 580px;
}
