.position-bubble-parent {
  position: relative;
}

.position-bubble-child {
  position: absolute;
  right: 120px;
  bottom: 180px;
}

.position-face-child {
  position: absolute;
  right: 0;
  bottom: 0;
}

#position-bubble-question {
  right: 120px;
  bottom: 180px;
  width: 288px;
}

#position-bubble-angry {
  width: 680px;
  right: 100px;
  bottom: -260px;
}

#position-bubble-claude {
  margin-bottom: 28px;
  width: 208px;
}

#position-footer-back {
  position: relative;
  z-index: 1;
}

#position-footer-middle {
  position: relative;
  z-index: 2;
  margin-bottom: -200px;
}

#position-footer-front {
  position: relative;
  z-index: 3;
}

#position-footer-parent {
  position: relative;
}
