// Position des bulles et face des persos dans le présent
.position-bubble-parent {
  position: relative;
}

.position-bubble-child {
  position: absolute;
  right: 120px;
  bottom: 180px;
}

.position-face-child {
  position: absolute;
  right: 0;
  bottom: 0;
}

#position-bubble-question {
  right: 120px;
  bottom: 180px;
  width: 288px;
}

#position-bubble-angry {
  width: 680px;
  right: 100px;
  bottom: -260px;
}

#position-bubble-claude {
  margin-bottom: 28px;
  width: 208px;
}

/*Position de l'image, du texte et du bouton du footer -> pour
Que l'image soit dessus le texte mais dessous le footer*/
#position-footer-back {
  position: relative;
  z-index: 1;
}

#position-footer-middle {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
}

#position-footer-front {
  position: relative;
  z-index: 3;
}

#position-footer-parent {
  position: relative;
}

#position-vegetation {
  height: 536px;
  margin-left: -120px;
}
