.position-bubble-parent {
  position: relative;
}

.position-bubble-child {
  position: absolute;
  right: 120px;
  bottom: 180px;
}

.position-face-child {
  position: absolute;
  right: 0;
  bottom: 0;
}
