* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: #fce7e5;
  font-family: basic-sans, sans-serif;
  color: #e7364d;
}
