* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: #fce7e5;
  font-family: basic-sans, sans-serif;
  color: #e7364d;
}

h1 img {
  width: 370px;
  margin-right: 22px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 12px;
}

*::-webkit-scrollbar {
  display: none;
}
